// - Login Form

.login
    form(action="")
        key Username 
            input(type="text", name="username", id="username")
        br
        key Password
            input(type="text", name="password", id="password") 
        br
        input(type="submit", name="loginButton", id="login-button", value="Login")
